:root {
	--primary-color: #052C66;
	--primary-color-light: #052C6680;
	--primary-color-muted: #052C6607;
	--secondary-color: #570040;
	--white-color: #ffffff;
}

a {
	text-decoration: none;
	color: unset;
}

body {
	font-family: 'Verdana', 'Arial', sans-serif;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	color: var(--primary-color);
	font-size: 16px;
	box-sizing: border-box;
        display: flex;			/* Use Flexbox for the main layout */
        min-height: 100vh;		/* Ensure the layout takes the full viewport height */
}

button {
	border: none;
	border-radius: 8px;
	padding: 4px 8px 4px 8px;
	background-color: var(--primary-color);
	color: var(--white-color);
	height: 32px;
	min-height: 32px;
}
button:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px var(--primary-color-light);
}

h1 {
	font-size: 48px;
	font-weight: lighter;
	text-align: center;
	letter-spacing: 8px;
}

header {
	padding: 80px;
	background-color: var(--primary-color);
	color: var(--white-color);
	padding-left: 20vw;
	padding-right: 20vw;
	margin-bottom: 16px;
}

footer {
	background-image: linear-gradient(to bottom, var(--primary-color), var(--secondary-color));	
	padding: 8px;
	color: var(--white-color);
	display: flex;
	align-items: center;
}

table {
	width: 100%;
	max-width: calc(100% - 16px);
	border-collapse: collapse;
}
table td {
	min-height: 32px;
	padding: 4px;
	overflow: hidden;
	text-overflow: ellipsis;
}
@media (max-width: 512px) {
	table td {
		max-width: 50px;
	}
}
table th {
	min-height: 32px;
	padding: 4px;
	text-align: left;
	border-bottom: 2px solid var(--primary-color);	
}
table tr:nth-child(even) {
	background-color: var(--primary-color-muted);
}
table tr:nth-child(odd) {
	background-color: var(--white-color);
}

.card {
	border-radius: 16px;
	padding: 0 16px 16px 16px;
	margin-bottom: 16px;
	box-shadow: 5px 5px 10px var(--primary-color-light);
	background-color: var(--primary-color-muted);
}
@media (max-width: 512px) {
	.card  {
		min-width: calc(100% - 32px); 	 /* takes up full width when only one wide */
	}
}
@media (max-width: 200px) {
	.card  {
		min-width: 200px; 	 /* doesn't allow shrink on very narrow screens */
	}
}
.card:hover {
	cursor: pointer;
	box-shadow: 2px 2px 5px var(--primary-color-light);
}
.card>img {
	height: 200px; 
	width: auto; 
	float: left; 
	margin-right: 8px; 
	opacity: 0.8;
}

.card-container {
	clear: both;
	display: flex;
	flex-wrap: wrap; /* Allows items to wrap onto multiple lines. */
	gap: 16px;
	width: 100%;
	min-width: 100%;
}

.centered {
	clear: both;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 16px;
}

.inactive {
	background-color: #00000050;
}
.inactive:hover {
	box-shadow: none;
	cursor: default;
}

.main {
	background-color: var(--white-color);
	overflow-y: auto;		/* Main scrolls */
	padding: 8px;			/* Only internal padding */
	transition: margin-left 0.3s ease;
	width: 100%;
}
@media (max-width: 599px) {
	#nav-toggle:checked ~ .nav-left ~ .main,
	#nav-toggle:checked ~ .main {
		margin-left: 216px; 	/* Main shifts right only when nav is visible */
	}
	.main {
		margin-left: 0;
	}
}
@media (min-width: 600px) {
	.main  {
		margin-left:  216px; 	 /* Main always shifted to 216px */
	}
}

.nav-left {
	width: 200px;
	min-width: 200px;
	background-color: var(--primary-color);
	color: var(--white-color);
	padding: 8px;
	position: fixed;			/* Fixed to viewport */
	top: 0;
	left: 0;
 	height: 100vh;
	overflow-y: auto;			/* Nav scrolls independently */
	z-index: 1000;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
	float: left;
}
@media (max-width: 599px) {
	.nav-left {
		transform: translateX(-100%);	/* Nav hidden by default */
		margin-top: 32px;		/* Make room for hamburger menu button */
	}
	#nav-toggle:checked ~ .nav-left {	/* Nav visible when checked */
		transform: translateX(0);
	}
}
@media (min-width: 600px) {
	.nav-left {
		transform: translateX(0);		/* Nav always visible */
  	}
}

.nav-left>div {
	display: flex;
	align-items: center;
	margin-bottom: 16px;
}
.nav-left>div:hover {
	background-color: #ffffff25;
	cursor: pointer;
	padding: 4px;
	margin: -4px -8px 12px -4px;">
}
.nav-left>div:has(img):hover {
	background-color: unset;
}
@media (max-width: 599px) {
	.nav-left>div:has(img) {
		display: none;			/* Hide logo on small screen with menu toggled on */
	}
}
.nav-left>div:last-child {
	position: absolute; 
	bottom: 0; 
	padding: 16px 0; 
	border-top: 4px solid #ffffff50; 
	width: 200px;
}
@media (max-width: 599px) {
	.nav-left>div:last-child {
		margin-bottom: 40px;
	}
}

.nav-toggle {					/* Toggle button */
	position: fixed;
	z-index: 1100;
	cursor: pointer;
	display: none;				/* hidden by default */
	padding: 1px 4px 1px 3px;
	border: 1px solid var(--primary-color-light);
	border-radius: 50%;
	background-color: var(--white-color);
	color: var(--primary-color);
	min-width: 16px;
	max-width: 16px;
	text-align: center;
}
@media (max-width: 599px) {
	.nav-toggle {
		display: block;			/* Show toggle */
	}
}

@media (min-width: 600px) {
	.nav-toggle {
		display: none;			/* Toggle hidden */
	}
}
.nav-toggle-checkbox {
	display: none;				/* Hide checkbox */
}

.tab {	border: none;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	padding: 8px;
	color: var(--white-color);
	height: 32px;
	min-height: 32px;
	background-color: #00000050;
}
.tab:hover {
	box-shadow: none;
}
.tab.selected {
	background-color: var(--primary-color);
}
