:root {
	--primary-color: #570040;
	--primary-color-light: #57004080;
	--primary-color-muted: #57004007;
	--secondary-color: #052C66;
	--white-color: #ffffff;
	--black-color: #000000;
	--grey-color: #c0c0c0;
	--red-color: #e03a3a;
	--amber-color: #e09820;
	--green-color: #28b355; 
}
